{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/admin_dashboard.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome, Admin {{ session.username }}</h1>
    <a href="{{ url_for('admin.view_feedback') }}"style="background-color: #ff6600; color: white; padding: 5px 10px; text-decoration: none; border-radius: 5px">View Feedback</a>

    <h2>Users</h2>
    <p>Total Users: {{ users|length }}</p>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Role</th>
                <th>Address</th>
                <th>Company Name</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.role }}</td>
                    <td>{{ user.address or 'N/A' }}</td>
                    <td>{{ user.company_name or 'N/A' }}</td>
                    <td>{{ user.created_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Job Requirements</h2>
    <p>Total Jobs: {{ jobs|length }}</p>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Filename</th>
                <th>Domain</th>
                <th>Uploaded by</th>
                <th>Upload Date</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
                <tr>
                    <td>{{ job.id }}</td>
                    <td>{{ job.filename }}</td>
                    <td>{{ job.domain or 'N/A' }}</td>
                    <td>{{ job.user.username }}</td>
                    <td>{{ job.upload_date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Candidate CVs</h2>
    <p>Total CVs: {{ cvs|length }}</p>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Filename</th>
                <th>Domain</th>
                <th>Uploaded by</th>
                <th>Upload Date</th>
            </tr>
        </thead>
        <tbody>
            {% for cv in cvs %}
                <tr>
                    <td>{{ cv.id }}</td>
                    <td>{{ cv.filename }}</td>
                    <td>{{ cv.domain or 'N/A' }}</td>
                    <td>{{ cv.user.username }}</td>
                    <td>{{ cv.upload_date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('admin.logout') }}"style="background-color: #ff6600; color: white; padding: 5px 10px; text-decoration: none; border-radius: 5px">Logout</a>
</div>
{% endblock %}

